.none {
  display: none !important;
}

.clickable {
  cursor: pointer;
}

.page_frame {
  margin: 0 auto;
  padding: 60px 20px;
  max-width: 1040px;
}

.header_wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 16px;

  .title_wrapper {
    flex: auto;

    .title {
      color: var(--text);
      font-size: 32px;
      margin: 0;
      margin-bottom: 8px;
    }

    .comment {
      color: var(--text2);
      font-size: 20px;
      margin-bottom: 16px;
    }
  }

  .action_btn {
    background-color: var(--primary);
    color: var(--primary-btn-text);
    // display: inline-block;
    height: 50px;
    padding: 15px 30px;
    border-radius: 25px;
    // text-align: center;
    font-size: 16px;
    margin-left: 30px;
  }
}

.card {
  // border-radius: var(--border-radius);
  background-color: var(--bg2);
}

.shadow {
  box-shadow: 4px 8px 64px -4px var(--shadow);
  transition: box-shadow var(--duration);

  &:hover {
    box-shadow: 4px 8px 72px 4px var(--shadow);
  }
}

.shadow_s_deep {
  box-shadow: 2px 4px 18px -4px var(--shadow2);
  transition: box-shadow var(--duration);

  &:hover {
    box-shadow: 2px 4px 24px var(--shadow2);
  }
}
